@font-face {
    font-family: "GeneralSans";
    src: url("../fonts/GeneralSans-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "GeneralSans";
    src: url("../fonts/GeneralSans-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "GeneralSans";
    src: url("../fonts/GeneralSans-Semibold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "GeneralSans";
    src: url("../fonts/GeneralSans-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}
:root {
    --color-white: #fff;
    --color-black: #000;
    --color-text: #18332F;
    --color-text-light: #0E2028;
    --color-primary: #0E2028;
    --color-primary-light: #BFCEC2;
    --color-beige: #D9C3A9;
    --color-beige-dark: #B49C86;
    --color-opacity:rgba(19, 30, 41, 0.85);
    --color-input:#BAB7B7;
    --GS:'GeneralSans', sans-serif;
}

*, *:before,
*:after {
    box-sizing: border-box;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

*, body, html {
    -webkit-text-size-adjust: none;
    -webkit-appearance: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    border: none;
}

mark {
    -webkit-text-fill-color: initial;
    text-fill-color: transparent;
    background: none;
}
.img{
    display: block;
}
.img.contain img {
    -o-object-fit: contain;
    object-fit: contain;
}

.img > img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    display: block;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
}

button {
    background: transparent;
}

h1 {
    margin: 0;
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s !important;
}
input:-internal-autofill-selected {
    background-color: transparent;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}


html {
    font-size: 10px;
    scroll-behavior: smooth;
}



@media only screen and (max-width: 1366px) {
    html {
        font-size: 9.48px;
    }
}
@media only screen and (max-width: 1280px) {
    html {
        font-size: 8.89px;
    }
}
@media only screen and (max-width: 1170px) {
    html {
        font-size: 8.125px;
    }
}

@media only screen and (max-width: 1024px) {
    html {
        font-size: 7.11px;
    }
}

@media only screen and (max-width: 890px) {
    html {
        font-size: 6.18px;
    }
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 5.33px;
    }
}

@media only screen and (max-width: 666px) {
    html {
        font-size: 10px;
    }
}