@keyframes fadeInBottom {
  0% {
    opacity: 0;
    transform: translateY(300%);
  }
  100% { opacity: 1 }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}




.slider__wrap{
  .swiper-container {
    width: 100%;
    height: 100vh;
    position: relative;

    .slider {
      min-height: 50vh;

      .swiper-slide {
        background: #ccc;
        overflow: hidden;
        position: relative;
        height: 100%;
        text-align: center;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;

        .slide-inner {
          position: absolute;
          width: 100%;
          height: 100vh;
          left: 0;
          top: 0;

          img {
            position: absolute;
            width: 100%;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
          }
        }
      }
    }

    .swiper-pagination-bullet {
      background-color: rgba($color: #000000, $alpha: 0);
    }

    .swiper-pagination {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 7em;
      position: absolute;
      z-index: 3;
      right: 0;

      span {
        margin-bottom: 3em;
        font-family: 'Montserrat', sans-serif;
        font-size: 0.8rem;
        letter-spacing: 0.07em;
        color: #000;

        &:focus {
          outline: none;
        }
      }
    }
  }

  #content {
    text-align: center;
    color: white;
    padding: 200px 0;
    background: #002020;
  }
}




.banner{
  position: relative;
  .swiper-slide-active .slide-content {
    transform: translate3d(0, 0, 0);
  }
  .swiper-slide {
    position: relative;
    overflow: hidden;
  }

  .slide-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.6s ease;
  }
  .swiper{
    height: 68rem;
  }
  .container{
    padding: 0;
  }
  &__block{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 68rem;
    //display: none;


  }
  .swiper-slide-active .banner__block{
    & > * {
      animation-name: fadeInBottom;
      animation-duration: 1s;
      animation-fill-mode: both;
      &:nth-child(2){
        animation-duration: 2s;
      }
      &:nth-child(3){

        animation-duration: 3s;

      }
      &:nth-child(4){
        animation-duration: 3.5s;
      }
      &:nth-child(5){
        animation-duration: 4s;
      }


    }
    .section__list li {
      opacity: 0;
      animation: fadeIn 1s forwards;
    }

    .section__list li:nth-child(1) {
      animation-delay: 1s;
    }

    .section__list li:nth-child(2) {
      animation-delay: 1.2s;
    }

    .section__list li:nth-child(3) {
      animation-delay: 1.4s;
    }

    .section__list li:nth-child(4) {
      animation-delay: 1.6s;
    }
    .section__list li:nth-child(5) {
      animation-delay: 1.8s;
    }
    .section__list li:nth-child(5) {
      animation-delay: 2s;
    }
  }

  &__subtitle{
    color: var(--color-primary-light);
    text-align: center;
    font: 600 1.4rem / normal var(--GS);
    text-transform: uppercase;
    margin-bottom: 0.8rem;
    position: relative;
    &:after{
      content: '';
      position:absolute;
      left: 50%;
      transform: translateX(-50%);
      top:-1.2rem;
      width: 8rem;
      height: 0.1rem;
      background-color: var(--color-primary-light);

    }
  }
  &__title{
    font: 600 5.6rem / normal var(--GS);
    text-transform: uppercase;
    color:white;
    text-align: center;
    margin-bottom: 1.6rem;
  }
  &__list{
    display: flex;
    gap:2rem;
    justify-content: center;
    color: white;
    margin-bottom:2.8rem ;
    & > *:after{
      background: url(../img/check-white.svg) center / 2.4rem 2.4rem no-repeat;
    }
  }
  &__img{
    position: relative;
    height: 100%;

    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    &:after{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 0;
      background: rgba(24, 51, 47, 0.5) ;
    }
  }

  &__nav{
    &-wrap{
      position: absolute;
      top: 0;
      height: 100%;
      width: 13rem;
      right: 0;
      background-color: white;
      z-index: 1;
    }
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    & > *{
      width: 6rem;
      height: 100%;
      position: relative;
    }
    .swiper-button-next, .swiper-button-prev{
      position: absolute;
      top: unset;
      height: 6rem;
      right: unset;
      left: 50%;
      margin: 0;
      padding: 2rem;
      font: 600 1.4rem / 140% var(--GS);
      color:white;
      width: 14.3rem;
      justify-content: flex-start;
      transition: .2s ease;
      &:after{
        content: '';
        right: 2rem;
        position:absolute;
        width: 2.4rem;
        height: 1.2rem;
        background: url("../img/arrow-white-little.svg") center/2.4rem 1.2rem no-repeat;
      }
      &:before{
        content: '';
        right: 6.4rem;
        top:50%;
        transform: translateY(-50%);
        position:absolute;
        background: rgba(255, 255, 255, 0.2);
        height: 2rem;
        width: 0.1rem;
      }
    }
  }

  &__prev{
    background-color: var(--color-beige);
    transform: translateX(-50%) rotate(90deg);
    bottom: 4.1rem;
    left: 0;
    &:hover{
      background-color:var(--color-beige-dark);
    }

  }
  &__next{
    bottom: 18.4rem;
    background-color:  var(--color-primary-light);
    transform: translateX(-50%) rotate(-90deg);
    &:hover{
      background-color:var(--color-text);
    }
    &-wrap{
      background-color: var(--color-text-light);
    }
  }

  &__total{
    transition: 0.2s all ease;
    font: 600 1.6rem / normal var(--GS);
    color:var(--color-beige);
    position: relative;
    padding: 0.6rem 0;
    &:after{
      content: '';
      position: absolute;
      bottom: 0.6rem;
      right: -1.2rem;
      width:  0.1rem;
      height:3rem;
      background: rgba(0, 0, 0, 0.20);
    }
  }
  &__current{
    transition: 0.2s all ease;
    font: 600 4rem / normal var(--GS);
    color:var(--color-primary-light);
    min-width: 5.4rem;
  }
  &__counter{
    display: flex;
    gap:2.4rem;
    align-items: flex-end;
    position: absolute;
    top: 16rem;
    left: 50%;
    transform: translateX(-50%) rotate(-90deg);
    &.reverse{
      .banner__total{
        font: 600 4rem / normal var(--GS);
        min-width: 5.4rem;
        padding: 0;
        &:after{
          content: '';
          position: absolute;
          bottom: 0.6rem;
          right: -1.2rem;
          width:  0.1rem;
          height:3rem;
          background: rgba(0, 0, 0, 0.20);
        }

      }
      .banner__current{
        font: 600 1.6rem / normal var(--GS);
        padding: 0.6rem 0;
        position: relative;

      }
    }
  }

  overflow: hidden;


}

.transform{
  .container{
    padding: 10rem 8rem;
  }
  .section__title{
    margin-left: 10.9rem;

  }
  .section__nav{
    margin-right: 10.9rem;
    margin-top: 5rem;
  }
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item{
    overflow: hidden;

      background: var(--color-primary-light);
      background-image: linear-gradient(to top,
              transparent,
              transparent 50%,
              #0E2028 50%,
              #0E2028);
      background-position: 0 100%;
      background-size: 100% 200%;
      transition: all .2s ease-in;
    position: relative;

    &:hover{
      background-position: 0 0;
      color:var(--color-white);
      .transform__icon{
        transition: all .2s ease-in;
        background-color: var(--color-beige);
      }
      .transform__icon img{
        transition: all .2s ease-in;
        filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(4863%) hue-rotate(98deg) brightness(105%) contrast(104%);
      }
      .transform__bottom span{
        transition: all .2s ease-in;
        left: 1.6rem;
        filter: brightness(0) saturate(100%) invert(79%) sepia(23%) saturate(386%) hue-rotate(347deg) brightness(81%) contrast(75%);
      }
      &:after{
        transition: all .2s ease-in;
        border: 0.1rem solid var(--color-primary);
      }
      .transform__img > img{
        transition: all .2s ease-in;
        transform: scale(1.2);
      }
    }
    a{
      padding: 2.4rem 1.6rem;
      display: flex;
      flex-direction: column;
      transition: 0.2s ease all;
    }
    &:after{
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none;
      border: 0.1rem solid var(--color-primary-light);
    }
  }
  &__img{
    height: 18rem;
    margin-bottom: 1.2rem;
    overflow: hidden;
    width: 100%;
    img{
      transition: all .2s ease-in;
    }
  }
  &__title{
    font: 600 1.6rem / 160% var(--GS);
  }
  &__icon{
    width: 6.4rem;
    height: 6.4rem;
    position: relative;
    background-color: var(--color-text);
    border-radius: 50%;
    img{
      position: relative;
      z-index: 1;
      width: 2.8rem;
      height: 2.8rem;
      top:50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
  &__bottom{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    span{
      display: block;
      left: -11.8rem;
      font: 500 1.4rem/160% var(--GS);
      color:var(--color-beige-dark);
      position: absolute;
      &:after{
        content: '';
        position: absolute;
        top: 50%;
        right: -4.5rem;
        transform: translateY(-50%);
        width: 2.9rem;
        height: 0.8rem;
        background: url("../img/arrow-green.svg") center/2.9rem 0.8rem no-repeat;
      }
    }

  }
  &__list{
    margin-top: 6rem;
  }
}




.about-index{
  .section__title{
    margin-bottom: 4.6rem;
  }
  .container{
    padding: 10rem 8rem;
  }
  &__img{
    width: 37.5rem;
    height: 49.1rem;
  }
  &__block {
    display: flex;
    gap: 18.8rem;
  }

  &__img{
    width: 37.5rem;
    height: 49.1rem;
    &-absolute{
      position: absolute;
      width: 19.5rem;
      height: 26.3rem;
      top: 40%;
      transform: translateY(-50%);
      right: -10rem;
      z-index: 2;
      border: 1rem solid var(--color-white);
    }

  }
  &__info{
    width: 49% ;
  }
  &__flex{
    display: flex;
    gap:18.8rem;
    justify-content: flex-end;
  }
  &__title{
    font: 600 1.8rem / 140% var(--GS);
    text-transform: capitalize;
    margin-bottom: 2rem;

  }
  .section__subtitle{
    margin-bottom: 4.6rem;
  }
  &__list{
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem 1rem ;
    margin-bottom: 4rem;
    max-width: 44rem;
    & > *{
      &:after{
        background: url("../img/check-black.svg") center/2.4rem 2.4rem no-repeat;
      }
    }
  }
}















@media only screen and (max-width: 666px) {
  .banner__nav-wrap{
    position: relative;
    width: 100%;
    padding: 0!important;
  }
  .banner__nav > *{
    width: 50%;
    background-color: transparent;
  }
  .banner__nav .swiper-button-next, .banner__nav .swiper-button-prev{
    transform: translateX(-50%);
    position: relative;
    width: 100%;
    bottom: 0;
    height: 5.2rem;
  }
  .banner__counter{
    z-index: 1;
    top:2.4rem;
    right: 2.4rem;
    transform: none;
    gap:1.2rem;
    justify-content: flex-end;
  }
  .banner__total{
    font-size: 1.2rem;
    color:var(--color-primary-light);
    &:after{
      display: none;
    }
  }
  .banner__current{
    font-size: 2.8rem;
    color:white;
    min-width: 3.3rem;
  }

  .banner__title{
    font-size: 4.4rem;
  }
  .banner__subtitle{
    font-size: 1.2rem;
  }
  .banner__list{
    flex-wrap: wrap;
    gap:0.8rem;
  }
  .banner__list > *:after{
    background: url(../img/check-white.svg) center / 1.6rem 1.6rem no-repeat;
  }
  .banner__prev{
    color:var(--color-text)!important;
    background-color: var(--color-primary-light);
  }
  .banner__prev:hover{
    background-color: var(--color-primary-light);
  }
  .banner__nav{
    flex-direction: row-reverse;
  }
  .banner__nav .swiper-button-prev{
    justify-content: flex-end;
  }
 .banner__nav .swiper-button-prev:after {
    content: '';
    left: 2rem;
    position: absolute;
   transform: rotate(180deg);
    filter: brightness(0) saturate(100%) invert(16%) sepia(47%) saturate(377%) hue-rotate(121deg) brightness(95%) contrast(98%);
  }
   .banner__nav .swiper-button-prev:before{
    right: unset;
     left: 6.4rem;
     background: rgba(24, 51, 47, 0.30);
  }
  .banner__next{
    background-color: var(--color-text);
  }

  .wrap .banner .container{
    padding: 0;
  }
  .banner__block{
    height: 68.6rem;
  }





  .about-index__info{
   width: 100%;
  }
  .about-index__flex{
    flex-direction: column;
    gap:3.8rem;
  }
  .about-index__img-absolute {
    width: 9.3rem;
    height: 12.5rem;
    top: 40%;
    right: 0;
    border: 0.4 solid var(--color-white);
  }
  .about-index__img{
    width: 59vw;
    height: 77vw;
    margin: 0 auto;
  }
  .about-index__title{
    font-size: 1.6rem;
    line-height: normal;
    margin-bottom: 1.2rem;
  }
  .about-index .section__title{
    margin-bottom: 2.8rem;
  }
  .about-index .section__subtitle{
    margin-bottom: 2.8rem;
  }
  .about-index__list > *:after{
    background: url(../img/check-black.svg) center / 1.6rem 1.6rem no-repeat;
  }
  .about-index__list {
    gap:1.6rem 1rem;
    margin-bottom: 3.6rem;
  }

  .transform .section__title{
    margin: 0;
  }
  .transform__top .section__nav{
    display: none;
  }
  .transform .section__nav{
    margin: 2.8rem auto 0;
    justify-content: center;
  }
  .transform__list{
    margin-top: 2.8rem;
  }
  .transform__item a{
    padding: 1.6rem ;
  }
  .transform__img {
    height: 38vw;
  }
  .banner__counter.reverse .banner__total {
    font-size: 2.8rem;
    color: white;
    min-width: 3.3rem;
  }
  .banner__counter.reverse .banner__current{
    font-size: 1.2rem;
    color: var(--color-primary-light);
    min-width: auto;
  }





}


