<!-- FOOTER -->

<footer>
    <div class="footer">
        <div class="container">
            <div class="footer__flex">
                <div class="footer__item">
                    <div class="footer__block">
                        <div class="footer__logo img">
                            <img src="./../img/logo-footer.svg" alt="">
                        </div>
                        <div class="footer__logo-mob img">
                            <img src="./../img/logo-footer-mob.svg" alt="">
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur. Vitae accumsan nibh quam urna sed tortor sit nam. Amet faucibus vulputate ullamcorper. </p>
                        <form action="" class="footer__form footer__form-bottom ">
                            <input type="hidden" name="action" value="subscribe">
                            <input type="email" name="email" placeholder="Email Address">
                            <button ></button>
                        </form>
                        <div class="footer__icon">
                            <div class="img">
                                <img src="../img/footer-icon-1.svg" alt="">
                            </div>
                            <div class="img">
                                <img src="../img/footer-logo-2.svg" alt="">
                            </div>
                                <div class="img">
                                <img src="../img/footer-icon-3.svg" alt="">
                            </div>
                             <div class="img">
                                <img src="../img/footer-icon-4.svg" alt="">
                             </div>
                             <div class="img">
                                <img src="../img/footer-icon-5.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="footer__menu-wrap">
                        <div class="footer__menu">
                            <h2 class="footer__item-title"><img src="../img/small-logo.svg" alt=""><span>Explore</span></h2>
                            <ul class="footer__list">
                                <li><a href="">About Us</a></li>
                                <li><a href="">Projects</a></li>
                                <li><a href="">FAQ</a></li>
                                <li><a href="">News</a></li>
                                <li><a href="">Contact Us</a></li>
                                <li><a href="">Terms & Conditions</a></li>
                            </ul>
                        </div>
                        <div class="footer__menu">
                            <h2 class="footer__item-title"><img src="../img/small-logo.svg" alt=""><span>Services</span></h2>
                            <ul class="footer__list">
                                <li><a href="">Hardwood Floor Installation</a></li>
                                <li><a href="">Vinyl Plank Installation</a></li>
                                <li><a href="">Floor Repairs</a></li>
                                <li><a href="">Wood floor Refinishing</a></li>
                                <li><a href="">Sand & stain</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="footer__item">
                    <div>


                        <h2 class="footer__item-title"><img src="../img/small-logo.svg" alt=""><span>Get in Touch</span></h2>
                        <div class="footer__contact">
                            <a href="" class="location">Locations</a>
                            <a href="mailto:sales@brazilfloors.com" class="email">sales@brazilfloors.com</a>
                            <a href="tel:8009090730" class="phone ">Locations</a>
                        </div>
                        <div class="header__social">
                            <a href="#" class="header__social-icon img">
                                <img src="../img/facebook.svg" alt="">
                            </a>
                            <a href="#" class="header__social-icon img">
                                <img src="../img/insta.svg" alt="">
                            </a>
                            <a href="#" class="header__social-icon img">
                                <img src="../img/x.svg" alt="">
                            </a>
                            <a href="#" class="header__social-icon img">
                                <img src="../img/linkedIn.svg" alt="">
                            </a>
                            <a href="#" class="header__social-icon img">
                                <img src="../img/youtube.svg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom ">
        <div class="container">
            <div class="footer__bottom-text">
                This website is copyright © Brazil Floor
            </div>
        </div>
    </div>
</footer>



<div class="modal modal__testimonial">
    <div class="modal__wrap">
        <div class="modal__content" >
            <div class="modal__close img">
                <img src="./img/close.svg" alt="">
            </div>
            <div class="modal__overflow">
                <div class="modal__testimonial-video" >
                    <video controls style="width:100%" > <source src="" type="video/mp4">  </video>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal modal__solution">
    <div class="modal__wrap">
        <div class="modal__content ">
            <div class="modal__close img">
                <img src="./../img/close.svg" alt="">
            </div>
            <div class="modal__overflow">
                <div class="modal__solution-content">


                    <h3 class="modal__title">Get in touch with us & enjoy
                        Free Evaluation</h3>
                    <form class="modal__form connect__form">

                        <div class="connect__input connect__item">
                            <img src="./../img/form-person.svg" alt="">
                            <input name="name" type="text" placeholder="Your Name">
                        </div>
                        <div class="connect__input connect__item">
                            <img src="./../img/form-email.svg" alt="">
                            <input type="text" name="email" placeholder="Your Email">
                        </div>
                        <div class="connect__select connect__item">
                            <img src="./../img/service.svg" alt="">
                            <select class="" name="service" data-placeholder="Choose Service">
                                <option value="">Choose Service</option>
                                <option value="1">Service 1</option>
                                <option value="2">Service 2</option>
                                <option value="3">Service 3</option>
                            </select>
                        </div>
                        <div class="connect__input connect__item">
                            <img src="./../img/calendar.svg" alt="">
                            <input type="text" name="date" class="modal__datepicker" placeholder="Choose Time Slot">
                        </div>
                        <div class="connect__textarea">
                            <textarea type="text" name="message" placeholder="Write Message"></textarea>
                        </div>
                        <div class="section__button-wrap beige little">
                            <button class="section__button">SEND</button>
                        </div>

                    </form>
                </div>
                <div class="modal__solution-success">
                    <div class="img">
                        <img src="./../img/susses.svg" alt="">
                    </div>

                    <h3 class="modal__title">Thank You For Your Feedback!</h3>
                    <p class="modal__text">Lorem ipsum dolor sit amet consectetur. Arcu morbi at nisl rhoncus quam. Faucibus praesent fringilla lectus neque sed. Sagittis fermentum fusce sit vulputate varius egestas scelerisque senectus. </p>
                    <button class="modal__ok">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal modal__contact">
    <div class="modal__wrap">
        <div class="modal__content ">
            <div class="modal__close img">
                <img src="./../img/close.svg" alt="">
            </div>
            <div class="modal__overflow">
                <div class="modal__solution-content">


                    <h3 class="modal__title">Get in touch with us & enjoy
                        Free Evaluation</h3>
                    <form class="modal__form connect__form">

                        <div class="connect__input connect__item">
                            <img src="./../img/form-person.svg" alt="">
                            <input name="name" type="text" placeholder="Your Name">
                        </div>
                        <div class="connect__input connect__item">
                            <img src="./../img/form-email.svg" alt="">
                            <input type="text" name="email" placeholder="Your Email">
                        </div>
                        <div class="connect__select connect__item">
                            <img src="./../img/service.svg" alt="">
                            <select class="" name="service" data-placeholder="Choose Service">
                                <option value="">Choose Service</option>
                                <option value="1">Service 1</option>
                                <option value="2">Service 2</option>
                                <option value="3">Service 3</option>
                            </select>
                        </div>
                        <div class="connect__textarea">
                            <textarea type="text" name="message" placeholder="Write Message"></textarea>
                        </div>
                        <div class="section__button-wrap beige little">
                            <button class="section__button">SEND</button>
                        </div>

                    </form>
                </div>
                <div class="modal__solution-success">
                    <div class="img">
                        <img src="./../img/susses.svg" alt="">
                    </div>

                    <h3 class="modal__title">Thank You For Your Feedback!</h3>
                    <p class="modal__text">Lorem ipsum dolor sit amet consectetur. Arcu morbi at nisl rhoncus quam. Faucibus praesent fringilla lectus neque sed. Sagittis fermentum fusce sit vulputate varius egestas scelerisque senectus. </p>
                    <button class="modal__ok">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal modal__thank">
    <div class="modal__wrap">
        <div class="modal__content ">
            <div class="modal__close img">
                <img src="./../img/close.svg" alt="">
            </div>
            <div class="modal__overflow">
                <div class="modal__center">
                    <div class="img">
                        <img src="./../img/susses.svg" alt="">
                    </div>

                    <h3 class="modal__title">Thank You For Your Feedback!</h3>
                    <p class="modal__text">Lorem ipsum dolor sit amet consectetur. Arcu morbi at nisl rhoncus quam. Faucibus praesent fringilla lectus neque sed. Sagittis fermentum fusce sit vulputate varius egestas scelerisque senectus. </p>
                    <button class="modal__ok">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal modal__finance">
    <div class="modal__wrap">
        <div class="modal__content ">
            <div class="modal__close img">
                <img src="./../img/close.svg" alt="">
            </div>
            <div class="modal__overflow">
                <div class="modal__center">
                    <div class="img">
                        <img src="./../img/icon__form.png" alt="">
                    </div>

                    <h3 class="modal__title">we received your application!</h3>
                    <p class="modal__text">Thank you for your application!<br>
                        Our team will contact you in the next 24 hours.</p>
                    <button class="modal__ok">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /FOOTER -->
