<header class="header">
    <div class="header__top">
       <div class="container">
           <div class="header__top-block">
                <div class="header__contact">
                    <a href="#" class="header__contact-icon">
                        <img src="../img/location.svg" alt="">
                        <span>Locations</span>
                    </a>
                    <a href="tel:8009090730" class="header__contact-icon">
                        <img src="../img/phone.svg" alt="">
                        <span>800-909-0730</span>
                    </a>
                    <a href="mailto:Sales@brazilfloors.com" class="header__contact-icon">
                        <img src="../img/telegram.svg" alt="">
                        <span>Sales@brazilfloors.com</span>
                    </a>
                </div>
                <div class="header__social">
                    <a href="#" class="header__social-icon img">
                        <img src="../img/facebook.svg" alt="">
                    </a>
                    <a href="#" class="header__social-icon img">
                        <img src="../img/insta.svg" alt="">
                    </a>
                    <a href="#" class="header__social-icon img">
                        <img src="../img/x.svg" alt="">
                    </a>
                    <a href="#" class="header__social-icon img">
                        <img src="../img/linkedIn.svg" alt="">
                    </a>
                    <a href="#" class="header__social-icon img">
                        <img src="../img/youtube.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="header__bottom">
        <div class="container">
            <div class="header__bottom-block">
                <a class="header__logo img" href="./../index.html">
                    <img src="../img/logo-header.svg" alt="">
                </a>
                <div class="header__menu">
                    <a href="" class="active">Home</a>
                    <a href="">About</a>
                    <a href="">Products</a>
                    <a href="">Services</a>
                    <a href="">Prices</a>
                    <a href="">Financing</a>
                    <a href="">Room Design</a>
                    <a href="">Testimonials</a>
                    <a href="">News</a>
                    <a href="">FAQs</a>
                    <a href="">Contact Us</a>
                </div>
                <a href="" class="section__button black">
                    Shop online
                </a>
                <button class="header__burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>


            </div>
        </div>
    </div>

</header>


